footer{
    margin-left: 10%;
    margin-right: 10%;
    align-self:center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_nav a{
    font-size: 12px;
    padding: 20px;
    text-decoration: none;
    color: #c0c0c0;
}
.footer_img{
    align-self: center;
    width: 80px;
}

footer p{
    font-size: 12px;
    align-self: center;
    text-align: center;
    color: #c0c0c0;
}

.parrafo2{
    width: 60%;
    margin-bottom: 20px;
}
.parrafo1{
    margin-bottom: 20px;
}

.lenguaje{
    font-size: 12px;
    padding: 20px;
    text-decoration: none;
}

select{
    border: none;
    color: #c0c0c0;
}

select:hover{
    text-decoration: underline;
    color: white;
}

.footer_nav a:hover{
    color: white;
}