@media screen and (max-width: 1000px)
{
    .info{
        display: flex;
        flex-direction: column;
    }
    .info_encabezado{
        align-self: center;
        text-align: center;
        width: 90vw;
        font-weight: bold;
        color: white;
        font-size: 30px;
        background: transparent;
        margin-bottom: 20px;
    }
    .info_txt{
        width: 90vw;
        justify-self: center;
        align-self: center;
        color: white;
        font-size: 20px;
        background: transparent;        
    }
    .info_img{
        justify-self: center;
        align-self: center;
        width: 80%;   
        order: -1;    
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1280px)
{
    .info_encabezado{
        font-size: 35px;
    }

}

